.about-text-1, .about-text-3, .about-text-4, .about-text-5 {
    margin-bottom: 3.5rem;
    margin-top: 0.5rem;
}

.about-text-2 {
    margin-bottom: 2rem;
}

em, a {
    font-weight: 600;
    color: #005251;
}