<h2>Om sidan</h2>

<h3>Angular projekt</h3>

<p class="about-text-1">Angular projektet skapades i en mapp, där varje webbsida är skapad som komponenter via kommandot: <em>ng generate component "Namn på komponent"</em>.</p>

<br>

<h3>Bindning</h3>

<p class="about-text-2">På startsidan är fotot kopplat med en property bindning där url:en är definerad i klassen HomeComponent. På så sätt kan fotot uppdateras och ändras dynamiskt.</p>

<p class="about-text-3">Sidan Konvertering innehåller fyra input fält som är kopplade med Two-way Data Bindning <em>[(ngModel)]</em>. Det betyder att inputen är bundna till variabler som defineras i komponenten CalculateComponent. Dessutom har <em>(ngModelChange)</em> lagts till på inputen för att fånga när värden i input fälten ändras. På så sätt kan värden konverteras dynamiskt och visas direkt på input fälten bredvid. Följande källa har använts för metoden: <a href="https://ultimatecourses.com/blog/difference-change-ngmodelchange-angular" target="_blank"> Extern länk <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>

<h3>Komponenter</h3>

<p class="about-text-4">
Både Header och Footer är komponenter som används på alla webbplatsens sidor. Navigationslänkarna i headern använder RouterLink, detta för att hindra omladdning av sidor och tillåter att endast innehållet uppdateras dynamiskt.</p>

<h3>Slutsats</h3>

<p class="about-text-5">Jag tyckte uppgiften var lite ansträngande för att få alla bitar på plats men superkul när man ser resultatet. Det var även smidigt att använda komponenter och projektet fick tydligare struktur. Det tar tid att få in metodiken då man är tidigare van med att jobba mycket manuellt. I angular finns det många inbyggda verktyg som ska bli kul att få utforska vidare!</p>
